# ignore everything
/*
/*/

# but these:

!/alacritty/

# vscode user setting
!/Code
/Code/*
!/Code/User
/Code/User/*
!/Code/User/settings.json

# fcitx
!/fcitx
/fcitx/*
!/fcitx/config
!/fcitx/profile
# ---
!/fcitx/conf/
# /fcitx/conf/*
# !/fcitx/conf/*

# fonts.conf
!/fontconfig/

# i3
!/i3/
!/i3status/

# ranger
!/ranger/
/ranger/plugins

# variety

# yay
!/yay/

# zsh
!/zsh/

# compton
!compton.conf

# global shortcut
!kglobalshortcutsrc

# startup script
!startup.sh

!/.gitignore
!/Readme.md
!/.Xmodmap
!/.xprofile