# ignore everything
/*
/*/

# but these:

!/alacritty/

# vscode user setting
!/Code
/Code/*
!/Code/User
/Code/User/*
!/Code/User/settings.json

# fcitx
!/fcitx
/fcitx/*
!/fcitx/config
!/fcitx/profile
# ---
!/fcitx/conf
/fcitx/conf/*
!/fcitx/conf/fcitx-classic-ui.config

# fonts.conf
!/fontconfig/

# i3
!/i3/
!/i3status/

# pcmanfm
# !/pcmanfm/

# polybar
# !/polybar/gs
# /polybar/config-backup

# ranger
!/ranger/
/ranger/plugins
# rofi
# !/rofi/

# variety

# yay
!/yay/

# zsh
!/zsh/

# compton
!compton.conf

!/.gitignore
!/Readme.md
!/.Xmodmap
!/.xprofile